html {
  font-family: "Times New Roman", serif;
}
h4 {
  color: orange;
}
body {
  margin: 0;
}
main {
  background-color: #fff0df;
}

input[type="radio"],
input[type="checkbox"],
select {
  cursor: pointer;
}
#nav-list {
  list-style-type: none;
}

.nav-list-elements {
  display: inline;
}
.nav-list-links {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
}
.nav-list-links:hover {
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-radio {
  display: none;
}

.col-md-4 a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.img-radio-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.img-radio-picture {
  transition: all 0.2s;
  border: 4px solid transparent;
  border-radius: 10px;
}
.status-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  z-index: 10;
  display: none;
}

.img-radio:checked + .img-radio-label .status-icon {
  display: block;
}

.img-radio:checked + .img-radio-label .img-radio-picture {
  border-color: #21721d;
}
